In [1]:
import pandas as pd
import numpy as np

In [15]:
cols = ['Nachname',
    'Vorname',
    'Straße',
    'Ort',
    'Status',
    'Zahlungsart',
    'Eintrittsdatum',
    'PLZ',
    'Geburtsdatum',
    'Geschlecht',
    'Mitglieds-Nr',
    'Anrede',
    'Land',
    'Telefon_P1',
    'Mobil_P1',
    'Fax_P1',
    'E-Mail_P1',
    'Titel',
    'Mandatsreferenz',
    'Kontoinhaber',
    'IBAN',
    'BIC',
    'Kreditinstitut',
    'Kontonummer',
    'Bankleitzahl',
    'SEPA-Mandatstyp_1',
    'SEPA-Unterschriftsdatum_1',
    'SEPA-Merkmal_1',
    'SEPA-Gültigkeitsdatum_1',
    'SEPA-Benachrichtigungsdatum_1',
    'Austrittsdatum',
    'Abteilung_1',
    'Abteilungseintritt_1',
    'Beitragsbezeichnung_1_1',
    'Beitragsstart_1_1',
    'Gemeinschaft'
]

row_dict = {k: '' for k in cols}

In [16]:
beitritt_datum = '01.07.2023'
row_dict['Nachname'] = 'Mustermann'
row_dict['Vorname'] = 'Max'
row_dict['Straße'] = 'Musterstr. 1337'
row_dict['Ort'] = 'Musterstadt'
row_dict['Status'] = 'aktiv'
row_dict['Zahlungsart'] = 'Lastschrift'
row_dict['Eintrittsdatum'] = beitritt_datum
row_dict['PLZ'] = '12345'
row_dict['Geburtsdatum'] = '01.01.1950'
row_dict['Geschlecht'] = 'männlich'
row_dict['Land'] = 'Deutschland'
row_dict['Mobil_P1'] = '0123/4567890'
# row_dict['Telefon_P1'] = 'Testvorname'
row_dict['E-Mail_P1'] = 'test@test.de'
row_dict['Mandatsreferenz'] = '1024'
row_dict['Kontoinhaber'] = 'Max Mustermann'
row_dict['IBAN'] = 'DE67370695200605513018'
row_dict['SEPA-Mandatstyp_1'] = 'Folgelastschrift'
row_dict['SEPA-Unterschriftsdatum_1'] = beitritt_datum
row_dict['SEPA-Merkmal_1'] = 'wiederkehrend'
row_dict['Abteilung_1'] = 'Tischtennis'
row_dict['Abteilungseintritt_1'] = beitritt_datum
row_dict['Beitragsbezeichnung_1_1'] = 'Erwachsene'
row_dict['Beitragsstart_1_1'] = beitritt_datum
row_dict['Beitragsbezeichnung_1_2'] = 'Aufnahmegebühr'
row_dict['Beitragsstart_1_2'] = beitritt_datum

In [17]:
df = pd.DataFrame([row_dict])
df.head()

,Nachname,Vorname,Straße,Ort,Status,Zahlungsart,Eintrittsdatum,PLZ,Geburtsdatum,Geschlecht,...,SEPA-Gültigkeitsdatum_1,SEPA-Benachrichtigungsdatum_1,Austrittsdatum,Abteilung_1,Abteilungseintritt_1,Beitragsbezeichnung_1_1,Beitragsstart_1_1,Gemeinschaft,Beitragsbezeichnung_1_2,Beitragsstart_1_2
0,Mustermann,Max,Musterstr. 1337,Musterstadt,aktiv,Lastschrift,01.07.2023,12345,01.01.1950,männlich,...,,,,Tischtennis,01.07.2023,Erwachsene,01.07.2023,,Aufnahmegebühr,01.07.2023

In [18]:
df.to_csv('import_test.csv', index=False, sep=';')